<h1>New Mail</h1>

<hr>

<form name="form" (ngSubmit)="sendMail()" #f="ngForm">

  <div class="form-group">
    <label for="receivers">To</label>
    <select multiple class="form-control" name="receivers" [(ngModel)]="model.receivers">
      <option *ngFor="let user of users" [value]="user">
        <b>{{user.username}}</b> ({{user.firstname}} {{user.lastname}})
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" name="subject" [(ngModel)]="model.subject" required />
    <!--<div *ngIf="f.submitted && !subject.valid" class="help-block">Subject is required</div>-->
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <wm-tiny [elementId]="'mailbody'" (onEditorKeyup)="setBody($event)"></wm-tiny>
    <!--<input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastname" #lastName="ngModel" required />-->
    <!--<div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>-->
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Send</button>
    <a [routerLink]="['']" class="btn btn-link">Cancel</a>
  </div>

</form>
