<h1>Inbox - <i>{{currentUser.username}}</i></h1>

<hr>

<wm-mail-view *ngIf="mailView" [mail]="mailSelected" (actionCanceled)="closePannel()"></wm-mail-view>

<hr>
<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter" #f (keyup)="0">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-filter"></span>
      </span>
    </div>
  </div>
</div>
<hr>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>
      From
    </th>
    <th>
      Mail
    </th>
    <th>
      Received
    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mail of mailsReceived | mailFilter:f.value">
    <td><b><i>{{mail.sender.username}}</i></b></td>
    <td><b>{{mail.subject}}</b> - <i>{{mail.body | slice:0:64}}...</i></td>
    <td><i>{{mail.dateSent | date}}</i></td>
    <td>
      <div>
        <p>
          <button class="btn btn-xs btn-primary glyphicon glyphicon-eye-open" type="button" (click)="viewMail(mail)"></button>
          <button class="btn btn-xs btn-info glyphicon glyphicon-share-alt" type="button"></button>
          <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" type="button"></button>
        </p>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<p><a [routerLink]="['/login']">Logout</a></p>
