<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h2 class="panel-title"><b><i>{{mail.subject}}</i></b></h2>
      </div>
      <div class="col-xs-4 text-right">
        <button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove" (click)="onCancel()">
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label"><i>From</i></label>
          <div class="col-sm-8">
            <p class="form-control-static">
              <b>{{mail.sender.username}}</b> ({{mail.sender.firstname}} {{mail.sender.lastname}})
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label"><i>To</i></label>
          <div class="col-sm-8">
            <div class="form-control-static">
              <p *ngFor="let receiver of mail.receivers">
                <b>{{receiver.username}}</b> ({{receiver.firstname}} {{receiver.lastname}})
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label"><i>Received</i></label>
          <div class="col-sm-8">
            <p class="form-control-static">{{mail.dateSent | date:'dd/MM/yyyy - HH:mm:ss'}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <p class="form-control-static">
              {{mail.body}}
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
